body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
header, footer{
    background-color: aqua;
}
.site-title{
    color: blueviolet;
}
#my-image {
    box-shadow: 0px 0px 2px 1px black;
}
ul{
    list-style-type: square;
}
li:nth-child(odd) {
    background: aquamarine;
}
a.link{
    text-decoration: none;
    background: red;
    border: brown;
}
.notes-link:hover{
    cursor: pointer;
    color: orange;
}
